.swiper-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: #E8EBED;
    }

    &-next {
        right: 4px;

    }

    &-prev {
        left: 4px;
    }
}