{
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "~": "./src",
            "cpm": "./src/components",
            "img": "./src/images"
          }
        }
      ]
    ]
  }