@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// custom for 2noscript
:root {
  --font-Poppins: "Poppins", sans-serif;
  //z-index
  --z-default: 0;
  --z-low: 10;
  --z-medium: 100;
  --z-hight: 1000;
  //color
  --white: #ffffff;
  --black: #000000;
  --red: #fe0000;
  --primary-light: #f4f4f8;
  --primary-dark: #292929;
  //layout
  --app-padding-l-r: 36px;

  //components
  --app-header-h: 60px;
}
.app {
  // filter: blur(4px);
  // background-color: var(--primary-light);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-Poppins);
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow: hidden overlay;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

div {
  background-repeat: no-repeat;
  background-position: center;
}
img {
  vertical-align: middle;
  border: none;
}
ul {
  list-style-type: none;
}
//scroll
::-webkit-scrollbar {
  width: 4px;

  &-track {
    background: transparent;
  }

  &-thumb {
    background: #888;
    border-radius: 10px;
    z-index: 100;

    &:hover {
      background: #555;
    }
  }
}
