.wrapper {
  position: fixed;
  z-index: var(--z-medium);
  min-width: 60px;
  min-height: 60px;
  color: var(--red);
  font-size: 3.6rem;
  // background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
