$w-item: auto;
.wrapper {
  padding-top: 16px;
}

.content {
  padding: 20px var(--app-padding-l-r);
  .title {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 2px;
    &-ico {
      font-size: 2.2rem;
      margin-left: -4px;
    }
  }
}

.new-update,
.topManga-list,
.new-manga {
  margin-top: 36px;
}

.topManga-list {
  padding: 0 4px;
  display: grid;
  grid-template-columns: $w-item $w-item $w-item $w-item;
  gap: 12px;
}
.topManga-item {
  min-height: 400px;
}
.topManga-title {
  text-transform: capitalize;
  padding: 4px 0;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.topManga-moreBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: capitalize;
  margin-top: 8px;
  span {
    cursor: pointer;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .ico {
    font-size: 1.8rem;
  }
}
