$search-w: 380px; //default

.wrapper {
  position: relative;
  border: 1px solid transparent;
  width: $search-w;
  padding: 8px 24px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  &:focus-within {
    border-color: #a4adc6;
  }
  input[type="text"] {
    outline: none;
    padding-right: 12px;
    border: none;
    color: #151323;
    font-size: 1.4rem;
    flex: 1;
    // background-color: aqua;
    &::placeholder {
      text-transform: capitalize;
      color: red;
      text-align: center;
    }
    // &::-webkit-input-placeholder {
    //   color: red;
    // }
    // &::-ms-input-placeholder {
    //   color: red;
    // }
  }
  .loading,
  .clean {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    right: 12px;
    cursor: pointer;
    border-radius: 50%;
  }
  .loading {
    animation: rotate 1s linear infinite;
  }
}
.results {
  width: $search-w;
  border-radius: 6px;
  min-height: 200px;
  max-height: 400px;
  overflow: overlay;
  overflow-y: scroll;
  //   background-color: blueviolet;
  //   opacity: 0.5;

  padding: 8px 4px;
}
@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
