$margin-top: 16px;
.wrapper {
  height: 360px;
  width: 100%;
  position: relative;
  background-color: var(--primary-light);
  // background-color: var(--primary-dark);
  margin-top: 20px;
}
.img-left {
  height: 100%;
}
.img-center {
  height: 160px;
}
.img-right {
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: -60px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.important {
  margin-top: $margin-top;
  text-align: center;
  font-weight: 600;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-size: 1.8rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    padding: 0 4px;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $margin-top;
  &-item {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & + .contact-item {
      margin-left: 2px;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }
  .facebook {
    a {
      color: #385490;
    }
  }
  .youtube {
    a {
      color: #cf2423;
    }
  }
  .tiktok {
    a {
      height: 36px;
      width: 36px;
      border-radius: 4px;
      color: var(--white);
      font-size: 2rem;
      background-color: black;
    }
  }
  .instagram {
    a {
      color: #ad3696;
    }
  }
}
